<body>
   
    <mat-toolbar class="header" color="primary">
        <span class="tittle">WallStreet</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
            
        </button>
        <mat-menu #profileMenu="matMenu">
            <a mat-menu-item href="#">Profile</a>
            <a mat-menu-item href="#">Logout</a>
        </mat-menu>
    </mat-toolbar>

    <div class="navbar">

<a routerLink="/street" class="" routerLinkActive="active">Street</a>
<a routerLink="/calendar" class="" routerLinkActive="active">Calendar</a>
<a routerLink="/chart" class="" routerLinkActive="active">Chart</a>
<a routerLink="/trades" class="active" routerLinkActive="active">Trades</a>
<a routerLink="/chats" class="" routerLinkActive="active">Chats</a>
    </div>
    <div class="content">


<!-- tradingview.component.html -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
            target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
</div>







    </div>
</body>