<body>
<mat-toolbar class="header" color="primary">
    <span class="tittle">WallStreet</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>

    </button>
    <mat-menu #profileMenu="matMenu">
        <a mat-menu-item href="#">Profile</a>
        <a mat-menu-item href="#">Logout</a>
    </mat-menu>
</mat-toolbar>
    <div class="navbar">

        <a routerLink="/street" class="" routerLinkActive="active">Street</a>
        <a routerLink="/calendar" class="active" routerLinkActive="active">Calendar</a>
        <a routerLink="/chart" class="" routerLinkActive="active">Chart</a>
        <a routerLink="/trades" class="" routerLinkActive="active">Trades</a>
        <a routerLink="/chats" class="" routerLinkActive="active">Chats</a>
        
    </div>
    <div class="content">
    <!-- myfxbook.com Economic Calendar Widget - Start -->
    <div class="form-group">
        <label for="myfxbookCalendarWidget" class="control-label">#Check on the <span style="color: red;  ">Red high</span> buttons as they are potential news areas for the selected pairs.<br/>#Lets use news to either follow market trend or stay away from this timezones<br/>#check on lot sizes before trading news and ensure proper risk mananagement creating room for drawdown retest</label>
    
    </div>
    <iframe
        src="https://widget.myfxbook.com/widget/calendar.html?lang=en&impacts=0,1,2,3&symbols=AUD,CHF,EUR,GBP,JPY,KES,NZD,USD,ZAR"
        style="border: 0; width:100%; height:600px;"></iframe>
    <div style="margin-top: 10px;">
        <div
            style="width: fit-content; margin: auto;font-family: roboto,sans-serif!important; font-size: 13px; color: #666666;">
            <a href="https://www.myfxbook.com/forex-economic-calendar?utm_source=widget13&utm_medium=link&utm_campaign=copyright"
                title="Economic Calendar" class="myfxbookLink" target="_blank" rel="noopener"><b
                    style="color:#666666">Economic Calendar</b></a>
            wallStreet
        </div>
    </div>
    <!-- myfxbook.com Economic Calendar Widget - End -->
    </div>
</body>